
// The class name needs to match the names of the category and block
.wp-block-cloudblocks-hero {
  height: 45vh;
  min-height: 400px;
  padding: 30px 0;

  background-size: cover;
  background-position: top center;

  .wp-block-cloudblocks-hero__content {
    display: flex;
    height: 100%;

    // Vertical Position
    &.v-aligntop {
      align-items: flex-start;
    }

    &.v-aligncenter {
      align-items: center;
    }

    &.v-alignbottom {
      align-items: flex-end;
    }

    // Horizontal Position
    &.h-alignleft {
      justify-content: flex-start;

      .wp-block-cloudblocks-hero__text {
        margin-right: 16px;
      }
    }

    &.h-aligncenter {
      justify-content: center;

      .wp-block-cloudblocks-hero__text {
        margin-left: 8px;
        margin-right: 8px;
      }
    }

    &.h-alignright {
      justify-content: flex-end;

      .wp-block-cloudblocks-hero__text {
        margin-left: 16px;
      }
    }

    .wp-block-cloudblocks-hero__text {
      position: relative;
      padding: 20px 30px;

      &.has-left-align {
        text-align: left;
      }

      &.has-center-align {
        text-align: center;
      }

      &.has-right-align {
        text-align: right;
      }

      h1 {
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 16.8px;
        font-family: "Roboto Slab", sans-serif;

        @media (min-width: 30em) {
          font-size: 23.8px;
        }
      }
    }
  }
}
